body {
  margin: 0;
}
.content {
  display: flex;
}
.social-media {
  display: flex;
  flex-direction: column;
  margin-top: 165px;
  margin-bottom: 100px;
  margin-left: 40px;
}
.social-media,
i {
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(229, 229, 229, 1);
  border-radius: 30px;
  height: 531px;
  margin-left: 100px;
  margin-right: 15px;
}
#title,
p {
  position: fixed;
  margin-left: 230px;
  padding-top: 80px;
}
p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.44);
}
nav,
ul {
  display: flex;
  flex-direction: row;
}
nav,
ul,
li {
  display: flex;
  justify-content: space-around;
  justify-content: flex-end;
  padding-right: 35px;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.62);
  font-weight: bold;
  font-size: 20px;
}
.articles {
  display: flex;
  justify-content: row;
  margin-top: 170px;
  margin-left: 250px;
  margin-right: 200px;
}

.card {
  background-color: rgba(144, 55, 55, 1);
  border-radius: 20px;
  color: rgba(186, 153, 68, 1);
  margin-right: 20px;
  height: 300;
  width: 300;
  padding: 5px;
  padding-bottom: 10px;
  font-size: 10px;
}
img {
  border-radius: 20px;
}
.card,
p {
  color: rgba(186, 153, 68, 1);
}
#desc {
  color: rgba(0, 0, 0, 0.61);
  font-weight: 700;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.62);
}
h3 {
  font-size: 20px;
}
#author {
  font-size: 15px;
  color: rgba(186, 153, 68, 0.64);
  display: flex;
  justify-content: flex-end;
}
.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 110px;
}
#fot1,
#fot2 {
  font-size: 20px;
  display: flex;
}
#fot1 {
  color: rgba(251, 62, 2, 1);
}
#fot2 {
  color: rgba(0, 0, 0, 1);
}
